.con{
    width: auto;
    height: 65px;
    background-color: darkcyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px 2px 25px 25px;
}
t{
    color: #bfbfbf;
    transition: .15s;
}
t:hover{
    color: aqua;
    transform: scale(2);
}